#rs{
	display: none!important;
}
#container {
    width: 1295px!important;
    margin: auto!important;
}


#content_left{
    width:inherit!important;
}

.nums, .search_tool_conter {
    width: 1288px!important;
}

/* 局部设置 */
#form{
    position: absolute!important;
    width: 641px !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.head_nums_cont_outer .search_tool_conter,
.head_nums_cont_outer .nums{
    margin-left:0!important;
}

#rs,
#page,
#content_left {
    margin-left: 0!important;
}

#content_left{
    padding-left:0!important;
}

#page{  
    display:block!important;
    margin:10px auto 80px!important;
}



/* 多页布局 */

.list{
    float:left!important;
}

.list~.list{
    margin-left:8px!important;
}









